.SProject-div {
    height: fit-content;
    width: calc(100% - 40px);
    background-color: var(--close-white);
    position: absolute;
    color: var(--light-brown);
    border-radius: 10px;
    padding: 5px 20px 20px 20px;
}

.SProject-backBtn-div {
    display: flex;
    height: 20px;
    width: fit-content;
    align-items: center;
    padding: 5px 0;

    /* font-size: 10px; */
}

.SProject-backBtn-div:active {
    background-color: var(--button-click-back);
    border-radius: 5px;
}

.SProject-photo-Name-div {
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: nowrap;
}

.SProject-photo-div {
    width: 60%;
    /* border: 1px solid red; */
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: initial;
}

.SProject-photo-div>span {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--dark-brown);
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 7px;
    border-radius: 20px;
}

/* .SProject-photo-div>span:nth-child(1) {}

.SProject-photo-div span:last-child {

    right: 0;
} */


.SPMedia {
    max-width: 100%;
    width: 100%;
    /* height: auto; */
    max-height: 100%;
    position: absolute;
    border-radius: 10px;
    border: transparent;
    object-fit: cover;
}














.SProject-content-div {
    width: 40%;
    /* border: 1px solid red; */
    padding: 20px;
    display: flex;
    flex-direction: column;

}

.SProject-content-div div {
    margin: 5px 0;
}

.SProject-content-div div:nth-child(1) {
    color: var(--dark-brown);
    font-size: 40px;
    text-transform: capitalize;
    font-weight: 600;
}

.SProject-content-div a {
    margin: 5px 0;
    font-size: 13px;
    color: var(--light-brown) !important;

}

.SProject-content-div div:nth-child(3) {
    font-size: 15px;

}

.SProject-content-div div:nth-child(4) {
    font-size: 10px;
    background-color: var(--background-main);
    width: fit-content;
    border-radius: 2px;
    padding: 2px 4px;
}

.SProject-content-div button {
    margin: 5px 0;
    align-self: end;
    display: flex;
    align-items: center;
    border: 0.5px solid var(--light-brown);
    background-color: white;
    border-radius: 5px;
    padding: 3px 6px;
    font-weight: 600;
    color: var(--light-brown);
    cursor: pointer;
}

.SProject-content-div button:hover {
    transform: scale(1.1);
}


@media only screen and (max-width: 700px) {
    .SProject-photo-Name-div {
        width: 100%;
        /* border: 1px solid black; */
        display: flex;
        flex-wrap: wrap;
    }

    .SProject-photo-div {
        width: 100%;
        min-height: 300px;
    }

    .SProject-content-div {
        width: 100%;
        padding: 20px 0;
    }

}

@media only screen and (max-width: 500px) {

    .SProject-photo-div {
        width: 100%;
        min-height: 200px;
    }

}

@media only screen and (max-width: 411px) {
    .SProject-content-div div:nth-child(1) {

        font-size: 35px;
    }

    .SProject-content-div div:nth-child(3) {
        font-size: 12px;
    }

    .SProject-content-div button {

        align-self: center;

    }
}