body {
  margin: 0;
  font-family: 'Work Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --light-brown: #A27B5C;
  --dark-brown: #623D20;
  --background-main: #DCD7C9;
  --heading: black;
  --button-click-back: rgba(255, 255, 255, 0.3);
  --close-white: #FCF9F2;
}

code {
  font-family: 'Work Sans', sans-serif, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}